# -----------------------
# Miscellaneous
# -----------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------------
# IDE / Editor files
# -----------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -----------------------
# Flutter / Dart / Pub
# -----------------------
# Dart package directories
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter build files
/build/
/ios/Flutter/.last_build_id
**/doc/api/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# -----------------------
# Android build outputs
# -----------------------
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# -----------------------
# Assets (if large, track via Git LFS)
# -----------------------
# lib/assets/  <-- uncomment this if you want to exclude large images
# *.png
# *.jpg
